
h1 {
    color: aquamarine;
}

.container {
    width: 800px;
    margin-inline: auto;
}




.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}